<div class="row">
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>Watch out for future updates... They might be out for you.</p>
  </aside>
  <section class="main col-md-9">
    <article>
      <h2>About</h2>
      <p>
        Hello, my name is Afra. This is my about me page.
      </p>
      <p>
        Here is information about me.
      </p>
    </article>
  </section>
</div>
