<div class="row">
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>Watch out for future updates... They might be out for you.</p>
  </aside>
  <section class="main col-md-9">
    <article>
      <h2>About</h2>
      <p>
        Hello, my name is Afra. I like to eat and sleep when I'm not on my
        computer.
      </p>
      <p>
        Wow, I didn't know that paragraphs can be broken up like this. It's good
        to know because I'm working on a website for a personal project.
      </p>
      <p>
        Have you heard of Neocities? It's a place where people can make their
        own website for free... It was inspired by a similar website-hosting
        platform called GeoCities, which existed back in the 90's and early
        2000's.
      </p>
      <p>
        Neocities is home to so many creative websites made by professional web
        developers and amateurs alike... I hope that I can code websites as cool
        some day.
      </p>
      <p>
        You should look into Neocities if you're really into web development...
        And decided to read this entire thing.
      </p>
    </article>
  </section>
</div>