<div class="row">
    <div class="col-md-12">
          <h2>Categories</h2>
          <hr/>
          <div class="table-responsive">
            <table class="table">
                <thread>
                    <tr>
                        <th>Category ID</th>
                        <th>Category Name</th>
                    </tr>
                </thread>
                <tbody>
                    {{#each categories}}
                    <tr>
                        {{#each this}}
                        <td>{{id}}</td>
                        <td>{{category}}</td>
                        {{/each}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
          </div>
    </div>
</div>
